<html>
    <head>
        <title>
            YubiSign PDF
        </title>
    </head>

    <body>
        <div id="home">
            <H1>Home</H1><br>
            <button onclick="document.getElementById('home').style.display = 'none'; document.getElementById('keygen').style.display = 'block';">Generate keys</button>
            <button onclick="document.getElementById('home').style.display = 'none'; document.getElementById('signer').style.display = 'block';">Show Signer</button>
        </div>

        <div id="keygen" style="display: none;">
            <button onclick="document.getElementById('home').style.display = 'block'; document.getElementById('keygen').style.display = 'none';">Go Home</button><br>
            <H1>Generate Keys</H1><br>

            <form id="keyinfo">
                <label for="country">Country Code</label><br>
                <input type="text" id="country" name="country" placeholder="US"><br>

                <label for="state">State or Province</label><br>
                <input type="text" id="state" name="state" placeholder="California"><br>

                
                <label for="state">Locality</label><br>
                <input type="text" id="locality" name="locality" placeholder="San Francisco"><br>

                
                <label for="state">Organization name</label><br>
                <input type="text" id="org" name="org" placeholder="Example LLC"><br>

                
                <label for="state">Common name</label><br>
                <input type="text" id="cname" name="cname" placeholder="example.com"><br>

                <input type="submit">
            </form><br>

            <label>Certificate</label><br>
            <textarea id="cert" rows="10" cols="40" readonly></textarea><br>
            <button id="certbtn" onclick="downloadCert();" disabled>Download certificate</button><br>

            <label>Signing arguments</label><br>
            <textarea id="args" rows="10" cols="40" readonly></textarea><br>
            <button id="argsbtn" onclick="downloadArgs();" disabled>Download Signing Arguments</button><br>

            <script>
                function downloadCert()
                {
                    const cert = document.getElementById("cert").value;
                    const blob = new Blob([cert], {type: "text/plain; charset=utf-8"});
                    const link =document.createElement("a");
                    link.href = URL.createObjectURL(blob);
                    link.download = "public-key.asc";
                    link.click();
                    URL.revokeObjectURL(link.href);
                }
            </script>

            <script>
                function downloadArgs()
                {
                    const cert = document.getElementById("args").value;
                    const blob = new Blob([cert], {type: "text/plain; charset=utf-8"});
                    const link =document.createElement("a");
                    link.href = URL.createObjectURL(blob);
                    link.download = "args.txt";
                    link.click();
                    URL.revokeObjectURL(link.href);
                }
            </script>

            <script>
                const form = document.getElementById("keyinfo");
                form.addEventListener('submit', async(event) => {
                    event.preventDefault();
                    const formData = new FormData(form);
                    const formObject = Object.fromEntries(formData.entries());
                    const jsonString = JSON.stringify(formObject);

                    try{
                        setTimeout(() => alert("Tap Yubikey when it blinks. It will blink twice."), 0);
                        const response = await fetch("/keygen", {
                            method: "POST",
                            headers: {
                                'Content-Type': "application/json",
                                'Accept': 'application/json'
                            },
                            body: jsonString
                        });

                        if (!response.ok)
                        {
                            throw new Error("Request failed");
                        }

                        const result = await response.json();
                        document.getElementById("cert").value = result.cert;
                        document.getElementById("args").value = result.args;
                        document.getElementById("args2").value = result.args;
                        document.getElementById("certbtn").disabled = false;
                        document.getElementById("argsbtn").disabled = false;

                    }
                    catch(error){
                        alert("Error!")
                    }
                });
            </script>

        </div>

        <div id="signer" style="display: none;">
            <button onclick="document.getElementById('home').style.display = 'block'; document.getElementById('signer').style.display = 'none';">Go Home</button><br>
            <H1>Signer</H1><br>
            <textarea id="args2" rows="10" cols="40">{{args}}</textarea><br>
            <input type="file" id="pdfupload" accept="application/pdf"><br>
            <iframe id="pdfviewer" style="width: 100%; height: 500px; display: none;"></iframe><br>
            <button id="sign" disabled>Sign</button>

            <script>
                const pdfinput = document.getElementById("pdfupload");
                const pdfviewer = document.getElementById("pdfviewer");

                pdfinput.addEventListener('change', function(event) {
                    const file=event.target.files[0];
                    if (file && file.type === 'application/pdf') {
                        const fileURL = URL.createObjectURL(file);
                        pdfviewer.src = fileURL;
                        pdfviewer.style.display = "block";
                        document.getElementById("sign").disabled= false;
                    }
                    else
                    {
                        alert("Select a PDF File");
                    }
                });


                const signbtn = document.getElementById("sign");
                signbtn.addEventListener('click', async() => {
                    const args = document.getElementById("args2").value;
                    const fileSelected = pdfinput.files[0];

                    const formData = new FormData();
                    formData.append("args", args);
                    formData.append("pdf", fileSelected);
                    setTimeout(() => alert("Tap Yubikey when it blinks"), 0);

                    try
                    {
                        const response = await fetch('/sign', {
                            method: 'POST',
                            body: formData
                        });

                        const blob = await response.blob();
                        const objectUrl = URL.createObjectURL(blob);
                        const link = document.createElement("a");
                        link.href = objectUrl;
                        link.download = "signed.pdf";

                        link.click();
                        URL.revokeObjectURL(objectUrl);
                    }
                    catch(error){
                        alert("Error");
                    }
                });
            </script>

        </div>

    </body>
</html>